@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: emerald;
}

@plugin "daisyui/theme" {
  name: "emerald";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.9893 0.0025 48.72);
  --color-base-200: oklch(0.9494 0.0093 62.58);
  --color-base-300: oklch(0.8952 0.019 62.43);
  --color-base-content: oklch(0.1281 0.0091 37.83);
  --color-primary: oklch(0.4274 0.0562 214.27);
  --color-primary-content: var(--color-base-100);
  --color-secondary: oklch(0.8492 0.1115 82.96);
  --color-secondary-content: var(--color-base-content);
  --color-accent: oklch(0.6583 0.1116 40.72);
  --color-accent-content: var(--color-base-100);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(0.8789 0.0259 171.88);
  --color-info-content: var(--color-base-content);
  --color-success: oklch(0.6211 0.0644 144.04);
  --color-success-content: var(--color-base-100);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: var(--color-base-content);
  --color-error: oklch(0.3616 0.119 25.98);
  --color-error-content: var(--color-base-100);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@theme {
  --site-padding-sm: clamp(0.5rem, 1vw, 1rem);
  --site-padding-base: clamp(1rem, 2vw, 2rem);
  --site-padding-md: clamp(2rem, 3vw, 3rem);
  --site-padding-lg: clamp(3rem, 4vw, 4rem);
  --site-padding-xl: clamp(4rem, 5vw, 5rem);
  --site-padding-2xl: clamp(5rem, 6vw, 6rem);
  --site-padding-3xl: clamp(6rem, 7vw, 7rem);

  --font-nuckle-hairline: var(--font-nuckle-hairline);
  --font-nuckle-extralight: var(--font-nuckle-extralight);
  --font-nuckle-light: var(--font-nuckle-light);
  --font-nuckle-regular: var(--font-nuckle-regular);
  --font-nuckle-medium: var(--font-nuckle-medium);
  --font-nuckle-semibold: var(--font-nuckle-semibold);
  --font-nuckle-bold: var(--font-nuckle-bold);
  --font-copernicus-italic: var(--font-copernicus-italic);
  --font-copernicus-regular: var(--font-copernicus-regular);
  --font-copernicus-regular-2: var(--font-copernicus-regular-2);

  --nav-height: 5rem;
}

/* Animations */

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
  /**
   * Required class: `lsa` (initializes animations and defaults to fade-in)
   * Note: Add `no-repeat` class to prevent animations from repeating on scroll
   */
  .lsa {
    @apply opacity-0 transform transition duration-700;

    /* Slide animations */
    &.lsa-slide-up {
      @apply translate-y-4;
    }
    &.lsa-slide-down {
      @apply -translate-y-4;
    }
    &.lsa-slide-left {
      @apply -translate-x-4;
    }
    &.lsa-slide-right {
      @apply translate-x-4;
    }
    &.lsa-slide-down-right {
      @apply -translate-x-4 -translate-y-4;
    }
    &.lsa-slide-down-left {
      @apply translate-x-4 -translate-y-4;
    }
    &.lsa-slide-up-right {
      @apply -translate-x-4 translate-y-4;
    }
    &.lsa-slide-up-left {
      @apply translate-x-4 translate-y-4;
    }

    /* Handle active state */
    &.active {
      @apply opacity-100 translate-x-0 translate-y-0;
    }
  }
}

@layer base {
  :root {
    /* Altcha Styles */
    --altcha-border-width: 1px;
    --altcha-border-radius: var(--radius-box);
    --altcha-color-base: var(--color-base-100);
    --altcha-color-border: #cccac9;
    --altcha-color-text: var(--color-base-content);
    --altcha-color-border-focus: var(--color-primary);
    --altcha-color-error-text: var(--color-error);
    --altcha-color-footer-bg: transparent;
    --altcha-max-width: 100%;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral) var(--color-base-200) !important;
  }

  ::selection {
    @apply bg-primary text-primary-content;
  }

  html {
    @apply scroll-smooth break-words scroll-pt-[calc(var(--site-padding-3xl)+var(--nav-height))];
  }

  body {
    @apply bg-gradient-to-b from-base-100 to-base-200 font-nuckle-regular text-base-content antialiased;
  }

  main,
  footer {
    @apply py-(--site-padding-lg);
  }

  main {
    @apply pb-0;
  }

  .wrapper {
    @apply w-full max-w-screen-2xl mx-auto px-(--site-padding-base);
  }

  section {
    @apply py-(--site-padding-2xl);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance font-copernicus-regular font-bold tracking-tight;
  }

  h1,
  .h1 {
    @apply text-4xl sm:text-5xl;
  }

  h2,
  .h2 {
    @apply text-2xl sm:text-3xl;
  }

  h3,
  .h3 {
    @apply text-xl sm:text-2xl;
  }

  h4,
  .h4 {
    @apply text-lg sm:text-xl;
  }

  h5,
  .h5 {
    @apply text-base sm:text-lg;
  }

  h6,
  .h6 {
    @apply text-sm sm:text-base;
  }

  p,
  li:not(nav li),
  .p {
    @apply max-w-[65ch] text-base-content text-sm sm:text-base text-pretty leading-relaxed;
  }

  button,
  a,
  .a {
    @apply text-balance font-nuckle-semibold transition-colors duration-200;
  }

  img {
    @apply w-full h-auto object-cover rounded-box shadow-lg;
  }

  svg {
    @apply max-w-full h-auto;
  }

  em {
    @apply italic;
  }

  strong {
    @apply font-nuckle-semibold;
  }

  altcha-widget {
    @apply text-sm;
  }
}
